extends ../layout

block css
  link(rel='stylesheet', href='/styles/home/home.css')
  link (href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')

block content
  div#main_container
    div#top_box
    div#chat_box
    input#text_box.text-center(type='text', autofocus='true', placeholder="SAY YO.")

block js
  script(type="text/javascript", src="/components/socket.io-client/socket.io.js")
  script(type='text/javascript', src='/js/home/home.js')
