@font-face {
  font-family: avantgarde;
  src: url('../fonts/Avant-Garde-Gothic-Pro-Alt/AvantGardeGothicPro/ITCAvantGardePro-Bk.otf');
}

@font-face {
  font-family: opensans-light;
  src: url('../fonts/open-sans/OpenSans-Light.ttf');
}

@font-face {
  font-family: opensans;
  src: url('../fonts/open-sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: alphaecho;
  src: url('../fonts/Alpha-Echo/alpha_echo.ttf');
}

@font-face {
  font-family: myriad;
  src: url('../fonts/myriad-pro/MYRIADPRO-REGULAR.OTF');
}

@font-face {
  font-family: myriad-light;
  src: url('../fonts/myriad-pro/MyriadPro-Light.otf');
}

@font-face {
  font-family: veramono;
  src: url('../fonts/Bitstream-Vera-Sans-Mono/VeraMono.ttf');
}

@font-face {
  font-family: comfortaa;
  src: url('../fonts/Comfortaa/Comfortaa_Regular.ttf');
}

@font-face {
  font-family: comfortaa-light;
  src: url('../fonts/Comfortaa/Comfortaa_Thin.ttf');
}

@font-face {
  font-family: delicious;
  src: url('../fonts/delicious-123/Delicious-Roman.ttf');
}

@font-face {
  font-family: disco;
  src: url('../fonts/DISCO/DISCO___.ttf');
}

@font-face {
  font-family: envycoder;
  src: url('../fonts/source-code-pro/SourceCodePro-Regular.otf');
}

@font-face {
  font-family: envycoder-bold;
  src: url('../fonts/source-code-pro/SourceCodePro-Regular.otf');
}

@font-face {
  font-family: sourcecodepro;
  src: url('../fonts/source-code-pro/SourceCodePro-Regular.otf');
}

@font-face {
  font-family: sourcecodepro-light;
  src: url('../fonts/source-code-pro/SourceCodePro-Light.otf');
}

@font-face {
  font-family: heuristica;
  src: url('../fonts/heuristica/Heuristica-Regular.otf');
}

@font-face {
  font-family: indieflower;
  src: url('../fonts/indie_flower/IndieFlower.ttf');
}









