$light_purp: #9B59B6
$emerald: #2ECC71
$peter: #3498DB

body
  margin: 0
  background-color: $light_purp
  font-family: 'Montserrat', sans-serif
  font-weight: bold
  color: white

p
  margin: 0

.user_one
  color: white
  text-align: left
  padding-right: 1em

.user_two
  color: white
  text-align: right
  padding-left: 1em

#chat_box
  padding: 0.5em 0.5em 0 0.5em
  font-size: 1.5em
  position: relative
  min-height: 100%

#chat_box_bottom_padding
  height: 2.8em
  width: 100%

#text_box
  font-size: 2em
  background-color: $peter
  position: fixed
  bottom: 0
  height: 2.8em
  width: 100%
  padding: 0.25em

input::-webkit-input-placeholder
  color: #FFFFFF !important

input
  border: none !important
  border-color: inherit
  -webkit-box-shadow: none
  box-shadow: none
  outline: none !important
  &:focus
    border: none !important
    border-color: inherit
    -webkit-box-shadow: none
    box-shadow: none
    outline: none !important
  &:hover
    border: none !important
    border-color: inherit
    -webkit-box-shadow: none
    box-shadow: none
    outline: none !important
  &:active
    border: none !important
    border-color: inherit
    -webkit-box-shadow: none
    box-shadow: none
    outline: none !important

input:-moz-placeholder 
  color:  #FFFFFF !important

input::-moz-placeholder 
  color:  #FFFFFF !important

input:-ms-input-placeholder 
  color:  #FFFFFF !important




